<mat-toolbar color="primary">
  <mat-icon>calculate</mat-icon>
  <span>{{title}}</span>
  <span class="spacer"></span>
  <div class="user-info">
    <span class="user-name">{{userName}}</span>
    <span class="user-email">{{userEmail}}</span>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div class="container">
  <mat-tab-group animationDuration="300ms" class="main-tabs">
    
    <mat-tab label="Setup">
      <div class="tab-content">
        <app-participants></app-participants>
        <app-expense-form></app-expense-form>
      </div>
    </mat-tab>

    <mat-tab label="Settle Up">
      <div class="tab-content">
        <app-settle-up></app-settle-up>
      </div>
    </mat-tab>

    <mat-tab label="History">
      <div class="tab-content">
        <app-expense-history></app-expense-history>
      </div>
    </mat-tab>

    <mat-tab label="GitHub">
      <div class="tab-content">
        <app-github-integration></app-github-integration>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>
